*{
    box-sizing: border-box;
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 60px;
    color: #3991FF;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Formulaire */
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-form{
    max-width: 850px;
    display: grid;
   
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}


.main{
    padding: 25px 40px;
    text-align: center;
}

.main h2{
	position: relative;
	padding-bottom: 10px;
	padding-bottom: 10px;

    font-size: 25px;
    font-weight: bold;
} 

.main h2:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	height: 4px;
	width: 50px;
	border-radius: 2px;
	background-color: #3991FF;
}

.champ{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230,230,230,0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
}

.champ:hover{
  background-color: rgba(0,0,0,0.1);
}

.champ:focus{
    background-color: #fff;
    border: 2px solid rgb(30,85,250,0.47);
}


.main .btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #3991FF;
    cursor: pointer;
    outline: none;
    border:none;
    color: #fff;
    transition: 0.3s;
}

#table{
    border-spacing: 5px 10px;
}

#table td{
    text-align: center; 
    vertical-align: middle;
}  

.lien p {
    text-align: center;
}

@media screen and (max-width:690px){
	.contact-form{
		grid-template-columns: 1fr;
	}
}

/*MESSAGE D'ERREUR*/

.alert{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: green;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	width:40%;
    height: 100%;
    border-radius: 10px;
}


